<!DOCTYPE html>
<html>

<head>
	<title>{{title}}</title>

  <script src="https://use.fontawesome.com/b93bd08238.js"></script>

  <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/mongodb.css' />
	<link rel='stylesheet' href='/stylesheets/custom.css' />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

	<!-- Latest compiled and minified CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>
  {{> header}}
  <div class="container">
    {{{body}}}
  </div>
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Latest compiled and minified CSS -->

<!-- Latest compiled and minified JavaScript -->

<!-- Latest compiled and minified Locales -->
  <script>
  $(document).ready(function(){
     //-- Click on detail
     $("ul.menu-items > li").on("click",function(){
         $("ul.menu-items > li").removeClass("active");
         $(this).addClass("active");
     })

     $(".attr,.attr2").on("click",function(){
         var clase = $(this).attr("class");

         $("." + clase).removeClass("active");
         $(this).addClass("active");
     })

     //-- Click on QUANTITY
     $(".btn-minus").on("click",function(){
         var now = $(".section > div > input").val();
         if ($.isNumeric(now)){
             if (parseInt(now) -1 > 0){ now--;}
             $(".section > div > input").val(now);
         }else{
             $(".section > div > input").val("1");
         }
     })
     $(".btn-plus").on("click",function(){
         var now = $(".section > div > input").val();
         if ($.isNumeric(now)){
             $(".section > div > input").val(parseInt(now)+1);
         }else{
             $(".section > div > input").val("1");
         }
     })
 })
  </script>
</body>

</html>
