<div class="jumbotron">
    <img class="img-responsive" src="/images/slider-image1.png" alt="">
    This is a demonstration system, designed to show the capability of deploying MongoDB as a Service to be managed by MongoDB OpsManager.
  </p>
  <p><a class="btn btn-success btn-lg" href="/catalog" role="button">Visit MongoDB as a Service Catalog</a></p>
</div>
